body {
    display: flex;
    flex-direction: column;
    min-width: 375px;
    background-color: rgb(56, 93, 124);
    margin: 0;
}

header {
    flex: 0 50px;
    background: #222;
    color: white;
    padding: 5px 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header menu{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
}

header a{
  color: inherit;
  text-decoration: none;
  padding: 8px 10px;
  display: block;
}

header a:hover{
  background: rgba(255,255,255,0.15);
  border-radius: 6px;
}

main { text-align: center; }

h2 {
    display: inline-block;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    background-color: #3a4143;
    border-radius: 6px;
    color:aliceblue;
}

#usernamelabel {
    color:aliceblue;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: bold;
}

#usernamelabel,
#passwordlabel {
  display: none;
}

input, textarea {
  width: 250px;
  padding: 12px 14px;
  font-size: 16px;
  border-radius: 50px; /* same rounded shape for both */
  border: 0;
  margin-bottom: 12px;
}

button {
  font-size: 18px;
  padding: 12px 20px; /* top/bottom, left/right */
}

button {
  width: 160px;
  height: 48px;
}

#login, #create {
  padding: 10px 18px;      /* size */
  font-size: 16px;
  border: none;
  border-radius: 9999px;   /* pill shape */
}

#login {
  background: #1e73ff;
  color: white;
}

#create {
  background: gray; /* like your screenshot */
  color: white;
}

footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;

  background: #000;
  color: #fff;
  padding: 12px 16px;
}

body {
  padding-bottom: 56px;
}